
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="user-profile-content">

  <ion-card class="user-card">
    <ion-avatar class="profile-avatar">
      <img src="assets/avatar.png" alt="Foto de perfil" />
    </ion-avatar>

    <ion-card-header>
      <ion-card-title>{{nombre }} {{" "}} {{apellido}}</ion-card-title>
      <ion-card-subtitle>{{correo}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Teléfono: {{celular}}</p>
      <p>Dirección: {{direccion}}</p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <ion-button expand="block" fill="clear" (click)="abrirEditarPerfil()">
          <ion-icon name="create-outline"></ion-icon> Editar Perfil
        </ion-button>
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <ion-button expand="block" fill="clear" color="danger" (click)="cerrarSesion()">
          <ion-icon name="log-out-outline"></ion-icon> Cerrar Sesión
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="activity-card">
    <ion-card-header>
      <ion-card-title>Resumen de Actividad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-icon name="star-outline" class="activity-icon"></ion-icon>
          <p>Valoraciones</p>
          <h2>4.9</h2>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-icon name="checkmark-done-outline" class="activity-icon"></ion-icon>
          <p>Servicios Completados</p>
          <h2>12</h2>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
