<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Historial</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="4"><strong>ID Solicitud</strong></ion-col>
      <ion-col size="4"><strong>Servicio</strong></ion-col>
      <ion-col size="4"><strong>FCSolicitud</strong></ion-col>
      <!-- <ion-col size="2"><strong>detalle </strong></ion-col>
      <ion-col size="3"><strong>Acción</strong></ion-col> -->
    </ion-row>
    <!-- Mostrar datos dinámicamente -->
    <ion-row *ngFor="let servicio of servicios">
      <ion-col size="4">{{ servicio.idsolicitud }}</ion-col>
      <ion-col size="4">{{ servicio.servicio }}</ion-col>
      <ion-col size="4">{{ servicio.FCSolicitud }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="volver()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
