<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar sesión</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Iniciar sesión</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <div *ngIf="loading" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <ion-spinner name="dots"></ion-spinner>
</div>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>Autenticación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Botones para alternar entre Login y Registro -->
  <ion-segment [(ngModel)]="authMode">
    <ion-segment-button value="login">
      Iniciar Sesión
    </ion-segment-button>
    <ion-segment-button value="register">
      Registrarse
    </ion-segment-button>
  </ion-segment>

  <!-- Formulario de Login -->
  <form *ngIf="authMode === 'login'" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
  </form>

  <!-- Formulario de Registro -->
  <form *ngIf="authMode === 'register'" [formGroup]="registerForm" (ngSubmit)="registrarse()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="apellido" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input formControlName="rut" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Celular</ion-label>
      <ion-input formControlName="celular" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input formControlName="direccion" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Servicio que ofrece</ion-label>
      <ion-select formControlName="service" placeholder="Seleccione un servicio">
        <ion-select-option [value]="-1">Ninguno, soy usuario cliente</ion-select-option>
        <ion-select-option *ngFor="let service of services" [value]="service.idservicios">{{ service.titulo }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item> -->
    <ion-button expand="full" type="submit">Registrarse</ion-button>
  </form>
</ion-content>
