<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido a Jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <div style="text-align: center; margin-top: 50px;">
    <!-- <img src="assets/logo-jobs.png" alt="Logo de Jobs" width="200px" /> -->
    <h2><b>¡Bienvenido a Jobs!</b></h2>
    <p>Encuentra u ofrece servicios fácilmente</p>

    <ion-button expand="full" (click)="goToAuth()">Comenzar</ion-button>
  </div>
</ion-content>
