<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <!-- <ion-icon aria-hidden="true" name="triangle"></ion-icon> -->
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <!-- <ion-icon aria-hidden="true" name="ellipse"></ion-icon> -->
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon name="bag-add-outline"></ion-icon>
      <ion-label>Súper</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <!-- <ion-icon aria-hidden="true" name="triangle"></ion-icon> -->
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <!-- <ion-icon aria-hidden="true" name="triangle"></ion-icon> -->
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
