<h1> Categoría: {{ nombreServicio }}</h1>

<!-- <p>{{idServicio}}</p> -->

<div *ngIf="usuarios.length<=0" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <ion-spinner name="dots"></ion-spinner>
</div>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="2"><strong>Nombre</strong></ion-col>
        <ion-col size="2"><strong>Apellido</strong></ion-col>
        <ion-col size="2"><strong>Dirección</strong></ion-col>
        <ion-col size="2"><strong>Celular</strong></ion-col>
        <ion-col size="3"><strong>Acción</strong></ion-col>
      </ion-row>
      <!-- Mostrar datos dinámicamente -->
      <ion-row *ngFor="let usuario of usuarios">
        <ion-col size="2">{{ usuario.nombre }}</ion-col>
        <ion-col size="2">{{ usuario.apellido }}</ion-col>
        <ion-col size="2">{{ usuario.direccion }}</ion-col>
        <ion-col size="2">{{ usuario.celular }}</ion-col>
        <ion-col size="3">
          <ion-button size="small" (click)="solicitarServicio()">Solicitar servicio</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-header> -->
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="volver()">
            <ion-icon slot="start" name="arrow-back"></ion-icon>
            Volver
          </ion-button>
        </ion-buttons>
        <!-- <ion-title>Detalle</ion-title> -->
      </ion-toolbar>
    <!-- </ion-header> -->
  </ion-content>
  

<!-- <div>
    <ul>
      <li *ngFor="let usuario of usuarios">
        {{ usuario.nombre }}
      </li>
    </ul>
  </div> -->
  
