<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h3>Todas las categorías</h3>
  </div>

  <!-- Distribución de las tarjetas -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card (click)="navigateToService('Mecánico', 1)">
          <img alt="Mecánico" src="assets/icon/mecanico2.jpeg" />
          <ion-card-content>
            <b>Mecánico</b>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card (click)="navigateToService('Veterinario', 2)">
          <img alt="Veterinario" src="assets/icon/veterinario2.jpeg" />
          <ion-card-content>
            <b>Veterinario</b>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card (click)="navigateToService('Cerrajero', 3)">
          <img alt="Cerrajero" src="assets/icon/cerrajero.jpeg" />
          <ion-card-content>
            <b>Cerrajero</b>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card (click)="navigateToService('Médico', 4)">
          <img alt="Médico" src="assets/icon/medico.jpeg" />
          <ion-card-content>
            <b>Médico</b>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card (click)="navigateToService('Electricista', 5)">
          <img alt="Electricista" src="assets/icon/electricista.jpeg" />
          <ion-card-content>
            <b>Electricista</b>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card (click)="navigateToService('Pintor', 6)">
          <img alt="Pintor" src="assets/icon/pintor.jpeg" />
          <ion-card-content>
            <b>Pintor</b>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card (click)="navigateToService('Gásfiter', 7)">
          <img alt="Gásfiter" src="assets/icon/gasfiter.jpeg" />
          <ion-card-content>
            <b>Gásfiter</b>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card (click)="navigateToService('Constructor', 8)">
          <img alt="Constructor" src="assets/icon/constructor.jpeg" />
          <ion-card-content>
            <b>Constructor</b>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-searchbar placeholder="Buscar"></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h3>Todas las categorías</h3>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="navigateToService('Mecánico',1)">
          <img alt="Silhouette of mountains" src="assets/icon/mecanico2.jpeg" />
        
          <ion-card-content>
            <b>Mecánico</b>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="navigateToService('Veterinario',2)">
          <img alt="Silhouette of mountains" src="assets/icon/veterinario2.jpeg" />
        
          <ion-card-content>
            <b>Veterinario</b>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="navigateToService('Cerrajero',3)">
          <img alt="Silhouette of mountains" src="assets/icon/cerrajero.jpeg" />
        
          <ion-card-content>
            <b>Cerrajero</b>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="navigateToService('Médico',4)">
          <img alt="Silhouette of mountains" src="assets/icon/medico.jpeg" />
        
          <ion-card-content>
            <b>Médico</b>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="navigateToService('Electricista',5)">
          <img alt="Silhouette of mountains" src="assets/icon/electricista.jpeg" />
        
          <ion-card-content>
            <b>Electricista</b>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="navigateToService('Pintor',6)">
          <img alt="Silhouette of mountains" src="assets/icon/pintor.jpeg" />
        
          <ion-card-content>
            <b>Pintor</b>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="navigateToService('Gásfiter',7)">
          <img alt="Silhouette of mountains" src="assets/icon/gasfiter.jpeg" />
        
          <ion-card-content>
            <b>Gásfiter</b>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="navigateToService('Constructor',8)">
          <img alt="Silhouette of mountains" src="assets/icon/constructor.jpeg" />
        
          <ion-card-content>
            <b>Constructor</b>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content> -->
