/* home.page.scss */
ion-card {
    margin: 10px;
  }
  
  @media (min-width: 768px) {
    ion-card {
      margin: 20px;
      width: 80%;
    }
  }
  
  @media (min-width: 1024px) {
    ion-card {
      width: 60%;
    }
  }
  
  ion-chip {
      --background: #000000;
      --color: white;
    }
  
  // ion-avatar  {     
  //     width:40% !important;  
  //     height : 40% !important;  
  //     max-width: 40px !important;  //any size
  //     max-height: 40px !important; //any size 
  //     }
  
  
  
  
    
  
    