<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Servicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Servicios</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Sección para chips y barra de búsqueda -->
  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">
      <ion-chip>A domicilio</ion-chip>
    </ion-col>
  </ion-row>

  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <!-- Sección de tarjetas de servicios -->
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="3" class="ion-text-center">
        <ion-card (click)="navigateToService('Mecánico', 1)">
          <img alt="Mecánico" src="assets/icon/mecanico2.jpeg" />
          <ion-card-content>Mecánico</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3" class="ion-text-center">
        <ion-card (click)="navigateToService('Cerrajero', 3)">
          <img alt="Cerrajero" src="assets/icon/cerrajero.jpeg" />
          <ion-card-content>Cerrajero</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3" class="ion-text-center">
        <ion-card (click)="navigateToService('Veterinario', 2)">
          <img alt="Veterinario" src="assets/icon/veterinario2.jpeg" />
          <ion-card-content>Veterinario</ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" size-lg="3" class="ion-text-center">
        <ion-card (click)="navigateToService('Médico', 4)">
          <img alt="Médico" src="assets/icon/medico.jpeg" />
          <ion-card-content>Médico</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Sección de perfil de usuarios -->
  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img alt="Claudio Villarroel" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-card-title>Claudio Villarroel</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="star"></ion-icon>4.95
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Mecánico
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img alt="Valentina Morales" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-card-title>Valentina Morales</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="star"></ion-icon>4.98
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Médico
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-chip>A domicilio</ion-chip>
      </ion-col>
    </ion-row>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-row class="ion-align-items-center">
   <ion-col class="ion-text-center">
    <ion-card style="width: 50%">
      <img alt="Silhouette of mountains" src="assets/icon/mecanico2.jpeg" />
    </ion-card>
   </ion-col> 
   <ion-col class="ion-text-center">
    <ion-card style="width: 50%">
      <img alt="Silhouette of mountains" src="assets/icon/cerrajero.jpeg" />
    </ion-card>
  </ion-col> 
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col class="ion-text-center">
      <ion-card style="width: 50%">
        <img alt="Silhouette of mountains" src="assets/icon/veterinario2.jpeg" />
      </ion-card>
    </ion-col> 
    <ion-col>
      <ion-card style="width: 50%">
        <img alt="Silhouette of mountains" src="assets/icon/medico.jpeg" />
      </ion-card>
   </ion-col> 
   </ion-row>
   <ion-card>

    <ion-card-header>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-card-title>Claudio Villarroel</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="star"></ion-icon>4.95</ion-card-subtitle>
    </ion-card-header>    
    <ion-card-content>
      Mecánico
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-card-title>Valentina Morales</ion-card-title>
      <ion-card-subtitle>
        <ion-icon name="star"></ion-icon>4.98</ion-card-subtitle>
    </ion-card-header>    
    <ion-card-content>
      Arquitecta
    </ion-card-content>
  </ion-card>
</ion-content> -->
