/* home.page.scss */

/* Ajustar el tamaño máximo de las imágenes para evitar que sean demasiado grandes */
.card-image {
    width: 100%;       /* Hace que la imagen se ajuste al ancho de su contenedor */
    height: auto;      /* Mantiene la proporción de la imagen */
    max-height: 200px; /* Limita la altura máxima de las imágenes */
    object-fit: cover; /* Hace que la imagen se recorte y se centre si es más grande que su contenedor */
  }
  
  /* Aumentar los márgenes en pantallas grandes para mejorar la apariencia */
  @media (min-width: 1024px) {
    ion-card {
      margin: 15px;
    }
  }
  